<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://ez-css.now.sh">
        <style>
            .done {
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <main id ="app">
            <h3>{{title}}</h3>
            <form @submit.prevent="addToDo">
                <label for="newToDo">Enter a new todo below:</label>
                <input v-model="newToDo" type="text" name="newToDo" id="newToDo" value="">
                <button type="submit" name="button">Add</button>
            </form>
            <button @click="allDone" type="button" name="button">All Done</button>
            <ul>
                <li v-for="todo in todos">
                    <input type="checkbox" v-model="todo.done">
                    <span :class="{ done: todo.done }">{{todo.title}}</span>
                    <button @click="removeToDo(todo)" type="button" name="button">Remove</button>
                </li>
            </ul>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js" charset="utf-8"></script>
    </body>
</html>